body{
  margin-left: 30px;
  margin-right: 30px;
}
.header
{ display: flex;
 justify-content: space-between;
 align-items: center;
 width: 50%;
 font-size: 20px;
 color:rgb(109, 106, 106);
 font-weight: bold;
 margin-top: 50px;
 margin-bottom: 80px;
}

.Home,.Resume,.Blog
{
  cursor: pointer;

}
.div-1
{
    display: flex;
text-align:start;
    line-height: 1.8;
    font-family:Helvetica,Arial,sans-serif;
  font-size: 20px;
  color:rgb(109, 106, 106);
  max-width: fit-content;
  width: 80%;
}
.div-2
{
  display:flex;
  flex-direction: column;
  text-align: start;
  width: 80%;
  margin-bottom: 30px;
  max-width: fit-content;

  
}
.work
{
  font-family:Helvetica,Arial,sans-serif;
font-size: 20px;
margin-bottom: 8px;
color:rgb(109, 106, 106);
}

.div-2 p{
  line-height: 1.5;
}

.link,.email-title
{
    font-family:Helvetica,Arial,sans-serif;
  font-size: 25px;
  color:rgb(109, 106, 106);
  margin-bottom: 30px;
}

.div-3
{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.github,.facebook,.instagram,.twitter
{
padding-right: 20px;
}


.fb-img{
  height: 30px;
  border-radius: 25px;
}
.github-img
{
  height: 30px;
  border-radius: 25px;
}
.twitter-img
{
  height: 25px;
  border-radius: 25px;
}
.instagram-img
{
  height: 30px;
  border-radius: 25px;
}

.email-image
{
  height: 30px;
  border-radius: 25px;
}

.inspiration
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  color:rgb(109, 106, 106);
  margin-bottom: 0px;

}
.copyright
{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  margin:0px;
  margin-right: 15px;
  margin-top: 25px;
  color:rgb(109, 106, 106);
  margin-bottom: 30px;
} 
.email
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:start;
  align-self: auto;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  color:rgb(109, 106, 106);
}
.email-image
{
  padding-top: 8px;
  margin-right: 25px;
}

@media(max-width: 747px)
{
  .header
  {
    display: flex;
    flex-direction: column;
    align-items:start;
    line-height: 3; 
  }
  .div-1
  {
    font-size: 20px;
    max-width: max-content;
  }

  .inspiration
  {
    font-size:  20px;
  }
  .copyright
  {
    font-size: 18px;
  }
  .email-title
  {
   margin-bottom: 10px;
    
  }
  
}